.caixa_width {
    /* (sempre tem que ter esses 3 valores para definir uma borda) espessura, tipo e a cor => width, style, color  */ 
    /* border-width: 2px;
    border-style: solid; 
    border-color: red; */

     /* (facilitando) shorthand => vários valores na mesma propriedade*/
     border: 2px solid red;

     width: 200px;
}

.imagem_width {
    width: 300px;
}

.caixa_height {
    border: 3px dashed #0f0;

    height: 100px;
    width: 100px;
}

/* height: altura / width: largura (Então se a altura e largura for igual será criada uma caixa.*/